@import url("components/navbar.css");
@import url("components/carousel.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/card.css");


body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.pad{
  padding:30px;
}

.padded {
  padding: 60px 0;
}
.wrapper-grey {
  background: black;
}

.wrapper-grey h2{
  color:white;
  text-shadow:black;
}

