.menu {
  font-weight: lighter;
  padding-bottom: 20px
}

.menu h2 {
  margin-bottom: 0px;
}

.dish-name {
  text-decoration: underline;
  font-size: 20px
}

.dish-description {

}

.dish-price {
  font-size: 15px;
}