.menu {
  font-weight: lighter;
  padding-bottom: 20px
}

.menu h2 {
  margin-bottom: 15px;
}

.dish-name {
  text-decoration: underline;
  font-size: 20px
}

.dish-description {
}

.dish-price {
  font-size: 15px;
}

.w-section {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.menu-container {
  background-color: aliceblue;
}