<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <p></p>
            </div>
            <div class="col-xs-8 text-right">
              <a class="invert" href="index.html">
            <img src="images/logo.png" width="85px" />
          </a>
        <a href= "http://waata.github.io/" Design: Wouter Kompier</p>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>