
<div class="banner" style="background: url('images/background6.jpg');height:60vh;">
 <div class="banner-content">
 </div>
</div>
 <div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12">
      <h1>Kom in Contact</h1>   
      <p><a href="tel:+31618482854">Bel ons:+31618482854 </a></p>
      <p><a href="opdehoek@opdehoek.nl.">Mail: opdehoek@opdehoek.nl.</a></p>
      <p><a href="https://www.google.nl/maps/place/52%C2%B033'47.1%22N+4%C2%B037'50.5%22E/@52.563074,4.6301538,19z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">Ons Adres:</a></p>
      <%= partial "date" %>
    </div>
  </div>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Meer informatie.</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/background6.jpg');">
          <div class="card-category">Feesten & Partijen</div>
          <div class="card-description">
            <p>Heerlijke walking dinners.</p>
          </div>
          <a class="card-link" href="menu.html" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/background6.jpg');">
          <div class="card-category">Onze Toppers</div>
          <div class="card-description">
            <p>De helden die het mogelijk maken.</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "map" %>
<!-- <div class="text-center padded" id="newsletter">
  <h2>Blijf op de hoogte.</h2>
  <p>Laat je mail achter en blijf op de hoogte.</p>
  <form class="form-inline">
    <input type="email" placeholder="bakkum@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
</div> -->