      <div class="banner" style="background: url('images/background6.jpg');height:60vh;">
      </div>
      <div class="container text-center features padded">
        <div class="row">
          <div class="col-xs-12">
            <h1>Diner</h1>
            <% data.diner.each do |dish| %>
                <h2><%= dish["name"] %></h2>  
                <h3><%= dish["description"] %></h3> 
                <h4><%= dish["price"] %></h4> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
