<%= partial "carousel" %>
<div class="container text-center pad features">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-coffee"></i>
      <h2>Drink</h2>
      <p>koffie</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-thumbs-up"></i>
      <h2>ontmoet</h2>
      <p>elkaar</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <i class="fa fa-check"></i>
      <h2>geniet</h2>
      <p>aan</p>
    </div>
  </div>
</div>
<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Bij uw volgende bezoek.</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpg');">
          <div class="card-category">Lunch</div>
          <div class="card-description">
            <p>Heerlijke boerenlandbroodjes.</p>
          </div>
          <a class="card-link" href="lunch.html" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpg');">
          <div class="card-category">Koffie</div>
          <div class="card-description">
            <p>Vers gebrandde koffie van brandmeesters.</p>
          </div>
          <a class="card-link" href="http://www.brandmeesters.nl/" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/background.jpg');">
          <div class="card-category">Pizza's</div>
          <div class="card-description">
            <p>Ovenheerlijke houtoven pizza.</p>
          </div>
          <a class="card-link" href="diner.html" ></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%= partial "map" %>
