      <div class="banner" style="background: url('images/background6.jpg');height:60vh;">
      </div>
      <div class="diner-container text-center">
        <div class="row">
        <div class="w-section">
            <div class="menu-container">
              <div class="col-xs-12 menu">
                <h1>Lunch</h1>
                <% data.lunch.each do |dish| %>
                <div class = "dish-name"><%= dish["name"] %></div>  
                <div class = "dish-description"><%= dish["description"] %></div>
                <div class = "dish-price"><%= dish["price"] %></div> 
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="diner.html" class="btn btn-default btn-lg btn-block">Bekijk ook de dinerkaart</a>